<table style="font-family: Verdana,sans-serif; font-size: 11px; color: #374953; width: 550px;" border="0">
<tbody>
<tr>
<td align="left"><a title="{shop_name}" href="{shop_url}"><img style="border:none;" src="{shop_logo}" alt="{shop_name}" /></a></td>
</tr>
<tr>
<td>&nbsp;</td>
</tr>
<tr>
<td align="left">Halo&nbsp;<strong>{firstname} {lastname}</strong>,</td>
</tr>
<tr>
<td>&nbsp;</td>
</tr>
<tr>
<td style="background-color:#DB3484; color:#FFF; font-size: 12px; font-weight:bold; padding: 0.5em 1em;" align="left">Informasi login Anda</td>
</tr>
<tr>
<td>&nbsp;</td>
</tr>
<tr>
<td align="left">Alamat E-mail: <strong><span style="color:#DB3484;">{email}</span></strong> <br />Password: <strong>{passwd}</strong></td>
</tr>
<tr>
<td>&nbsp;</td>
</tr>
<tr>
<td align="left"><strong>Tips untuk keamanan:</strong> <br /><br />Jaga agar informasi ini tetap aman. 				<br />Jangan berikan informasi login Anda kepada orang lain. 				<br />Ganti password Anda secara teratur. 				<br />Jika seseorang dicurigai menggunakan akun Anda secara tidak sah, beritahu kami secepatnya.</td>
</tr>
<tr>
<td>&nbsp;</td>
</tr>
<tr>
<td align="left">Sekarang Anda dapat berbelanja di website kami: <a href="{shop_url}">{shop_name}</a>.</td>
</tr>
<tr>
<td>&nbsp;</td>
</tr>
<tr>
<td style="font-size:10px; border-top: 1px solid #D9DADE;" align="center"><a style="color:#DB3484; font-weight:bold; text-decoration:none;" href="{shop_url}">{shop_name}</a> powered with <a style="text-decoration:none; color:#374953;" href="http://www.prestashop.com/">PrestaShop&trade;</a></td>
</tr>
</tbody>
</table>