<table style="font-family: Verdana,sans-serif; font-size: 11px; color: #374953; width: 550px;" border="0">
<tbody>
<tr>
<td align="left"><a title="{shop_name}" href="{shop_url}"><img style="border:none;" src="{shop_logo}" alt="{shop_name}" /></a></td>
</tr>
<tr>
<td>&nbsp;</td>
</tr>
<tr>
<td align="left">Halo&nbsp;<strong>{firstname} {lastname}</strong>,</td>
</tr>
<tr>
<td>&nbsp;</td>
</tr>
<tr>
<td style="background-color:#DB3484; color:#FFF; font-size: 12px; font-weight:bold; padding: 0.5em 1em;" align="left">Informasi Pesanan Anda #{id_order}</td>
</tr>
<tr>
<td>&nbsp;</td>
</tr>
<tr>
<td align="left">Pesanan Anda telah kami terima, dan akan segera kami proses segera setelah pembayarannya kami terima.</td>
</tr>
<tr>
<td>&nbsp;</td>
</tr>
<tr>
<td align="left">Anda telah memilih untuk melakukan transfer. Harap lakukan transfer ke bank berikut ini : 				<br /><br /> <strong>{bankwire_owner}</strong> <br /><br /> {bankwire_details} 				<br /><br />Dengan jumlah sebesar {total_paid}</td>
</tr>
<tr>
<td>&nbsp;</td>
</tr>
<tr>
<td align="left">Anda dapat melihat dan mengunduh invoicenya dari halaman&nbsp;<a style="color:#DB3484; font-weight:bold; text-decoration:none;" href="{shop_url}history.php">"Order history"</a>&nbsp;pada akun Anda dengan memilih menu&nbsp;<a style="color:#DB3484; font-weight:bold; text-decoration:none;" href="{shop_url}my-account.php">"My account"</a> di website kami.</td>
</tr>
<tr>
<td>&nbsp;</td>
</tr>
<tr>
<td style="font-size:10px; border-top: 1px solid #D9DADE;" align="center"><a style="color:#DB3484; font-weight:bold; text-decoration:none;" href="{shop_url}">{shop_name}</a> powered with <a style="text-decoration:none; color:#374953;" href="http://www.prestashop.com/">PrestaShop&trade;</a></td>
</tr>
</tbody>
</table>