<table style="font-family: Verdana,sans-serif; font-size: 11px; color: #374953; width: 550px;" border="0">
<tbody>
<tr>
<td align="left"><a title="{shop_name}" href="{shop_url}"><img style="border:none;" src="{shop_logo}" alt="{shop_name}" /></a></td>
</tr>
<tr>
<td>&nbsp;</td>
</tr>
<tr>
<td align="left">Halo&nbsp;<strong>{firstname} {lastname}</strong>, terima kasih telah berbelanja di&nbsp;<strong>{shop_name}</strong>.</td>
</tr>
<tr>
<td>&nbsp;</td>
</tr>
<tr>
<td style="background-color:#DB3484; color:#FFF; font-size: 12px; font-weight:bold; padding: 0.5em 1em;" align="left">Informasi Pemesanan</td>
</tr>
<tr>
<td>&nbsp;</td>
</tr>
<tr>
<td align="left">Order: <strong><span style="color:#DB3484;">{order_name}</span>&nbsp;pada tanggal {date}</strong> <br />Pembayaran: <strong>{payment}</strong></td>
</tr>
<tr>
<td>&nbsp;</td>
</tr>
<tr>
<td align="left">{products} 						{discounts} 					
<table style="width: 100%; font-family: Verdana,sans-serif; font-size: 11px; color: #374953;" border="0">
<!-- Title --> 
<tbody>
<tr style="background-color:#B9BABE; text-align:center;">
<th style="width: 15%; padding: 0.6em 0;">Reference</th> <th>Produk</th> <th style="width: 15%; padding: 0.6em 0;">Harga</th> <th style="width: 15%; padding: 0.6em 0;">Jumlah</th> <th style="width: 20%; padding: 0.6em 0;">Total</th>
</tr>
<!-- Products --><!-- Footer: prices --> 
<tr style="text-align:right;">
<td>&nbsp;</td>
<td style="background-color:#B9BABE; padding:0.6em 0.4em;" colspan="3">Produk</td>
<td style="background-color:#B9BABE; padding:0.6em 0.4em;">{total_products}</td>
</tr>
<tr style="text-align:right;">
<td>&nbsp;</td>
<td style="background-color:#EBECEE; padding:0.6em 0.4em;" colspan="3">Discount</td>
<td style="background-color:#EBECEE; padding:0.6em 0.4em;">{total_discounts}</td>
</tr>
<tr style="text-align:right;">
<td>&nbsp;</td>
<td style="background-color:#EBECEE; padding:0.6em 0.4em;" colspan="3">Bungkus kado</td>
<td style="background-color:#EBECEE; padding:0.6em 0.4em;">{total_wrapping}</td>
</tr>
<tr style="text-align:right;">
<td>&nbsp;</td>
<td style="background-color:#DDE2E6; padding:0.6em 0.4em;" colspan="3">Shipping</td>
<td style="background-color:#DDE2E6; padding:0.6em 0.4em;">{total_shipping}</td>
</tr>
<tr style="text-align:right; font-weight:bold;">
<td>&nbsp;</td>
<td style="background-color:#F1AECF; padding:0.6em 0.4em;" colspan="3">Total paid</td>
<td style="background-color:#F1AECF; padding:0.6em 0.4em;">{total_paid}</td>
</tr>
</tbody>
</table>
</td>
</tr>
<tr>
<td>&nbsp;</td>
</tr>
<tr>
<td style="background-color:#DB3484; color:#FFF; font-size: 12px; font-weight:bold; padding: 0.5em 1em;" align="left">Pengiriman</td>
</tr>
<tr>
<td>&nbsp;</td>
</tr>
<tr>
<td align="left">Kurir: <strong>{carrier}</strong></td>
</tr>
<tr>
<td>&nbsp;</td>
</tr>
<tr>
<td>
<table style="width: 100%; font-family: Verdana,sans-serif; font-size: 11px; color: #374953;" border="0">
<tbody>
<tr style="background-color:#B9BABE; text-transform:uppercase;">
<th style="text-align:left; padding: 0.3em 1em;">ALAMAT PENGIRIMAN</th> <th style="text-align:left; padding: 0.3em 1em;">ALAMAT PEMBAYARAN</th>
</tr>
<tr>
<td style="padding:0.5em 0 0.5em 0.5em; background-color:#EBECEE;"><span style="color:#DB3484; font-weight:bold;">{delivery_firstname} {delivery_lastname}</span> <br />{delivery_address1} 							<br />{delivery_address2} 							<br />{delivery_city} {delivery_postal_code} 							<br />{delivery_country} {delivery_state} 							<br />{delivery_phone}</td>
<td style="padding:0.5em 0 0.5em 0.5em; background-color:#EBECEE;"><span style="color:#DB3484; font-weight:bold;">{invoice_firstname} {invoice_lastname}</span> <br />{invoice_address1} 							<br />{invoice_address2} 							<br />{invoice_city} {invoice_postal_code} 							<br />{invoice_country} {invoice_state} 							<br />{invoice_phone}</td>
</tr>
</tbody>
</table>
</td>
</tr>
<tr>
<td>&nbsp;</td>
</tr>
<tr>
<td align="left">Anda dapat melihat atau mengunduh invoicenya dari halaman&nbsp;<a style="color:#DB3484; font-weight:bold; text-decoration:none;" href="{shop_url}history.php">"Order history"</a>&nbsp;pada akun Anda dengan memilih menu&nbsp;<a style="color:#DB3484; font-weight:bold; text-decoration:none;" href="{shop_url}my-account.php">"My account"</a>&nbsp;di website kami.</td>
</tr>
<tr>
<td>&nbsp;</td>
</tr>
<tr>
<td style="font-size:10px; border-top: 1px solid #D9DADE;" align="center"><a style="color:#DB3484; font-weight:bold; text-decoration:none;" href="{shop_url}">{shop_name}</a> powered with <a style="text-decoration:none; color:#374953;" href="http://www.prestashop.com/">PrestaShop&trade;</a></td>
</tr>
</tbody>
</table>